.center {
  text-align: center;
}

.item {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 0.25rem;
}

.red {
  color: red;
}

.green {
  color: green;
}
