/* @gray-darker: #444444;
@gray-dark: #696969;
@gray: #999999;
@gray-light: #cccccc;
@gray-lighter: #ececec;
@gray-lightest: lighten(@gray-lighter,4%); */
@import '../../styles/theme.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  /* height: 30%; */
}

.item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: rgb(253, 253, 253);
  border-radius: 0.25rem;
  box-shadow: 0 20px 30px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
}

.content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  /* padding: 1rem; */
}
.contentt {
  display: flex;
  /* flex: 1 1 auto; */
  justify-content: flex-end;
  /* padding: 1rem; */
}

.title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0.25rem;
  text-align: center;
  /* flex-direction: row-reverse; */
}
